@page "/user-sas"
@using Azure
@using Azure.Identity;
@using System.ComponentModel.DataAnnotations
@using System.IO
@using System.Linq
@using System.Threading
@using Azure.Storage.Blobs;
@using Azure.Storage.Blobs.Models;
@using Azure.Storage.Blobs.Specialized;
@using Azure.Storage.Sas;
@using Demo.FileUploadWebApp.Shared;
@inject HttpClient Http

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h3>SAS Generator Component</h3>

<p>SAS: @mySas</p>

<button class="btn btn-primary" @onclick="GenerateSas">Generate SAS</button>

@code {
    private string mySas;

    private string container;
    private ContainerUserKey containerUserKey;
       
    private async void GenerateSas()
    {
       containerUserKey = await Http.GetFromJsonAsync<ContainerUserKey>("Token/UserSas");
       mySas = containerUserKey.Key; 
    }
}