@page "/user-sas"
@using Azure
@using Azure.Identity;
@using System.ComponentModel.DataAnnotations
@using System.IO
@using System.Linq
@using System.Threading
@using Azure.Storage.Blobs;
@using Azure.Storage.Blobs.Models;
@using Azure.Storage.Blobs.Specialized;
@using Azure.Storage.Sas;
@using Demo.FileUploadWebApp.Shared;
@inject HttpClient Http

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h3>SAS Generator Component</h3>

@* <EditForm EditContext="editContext" OnValidSubmit="OnSubmit">
<label for="storageAccountName">Storage Account Name</label>
<input type="text" @bind-value="storageAccountName" />
<br />
<label for="container">Container</label>
<input type="text" @bind-value="container" />
<br />
<button>Generate SAS</button>
</EditForm> *@

<p>@mySas</p>

@code {
    private string mySas;

    private string container;
    private ContainerUserKey containerUserKey;
    protected override async void OnInitialized()
    {
       containerUserKey = await Http.GetFromJsonAsync<ContainerUserKey>("Token/UserSas");
       mySas = containerUserKey.Key; 
    }
}